<!-- templates/Registration.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="{{ url_for('security_service') }}" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>

        <label>Password:</label>
        <input type="password" name="password" required><br><br>

        <label>Role:</label>
        <input type="text" name="role" required><br><br>

        <label>Legal Name:</label>
        <input type="text" name="legal_name" required><br><br>

        <label>INN:</label>
        <input type="text" name="inn" required><br><br>

        <label>KPP:</label>
        <input type="text" name="kpp" required><br><br>

        <label>OGRN:</label>
        <input type="text" name="ogrn" required><br><br>

        <label>Legal Address:</label>
        <input type="text" name="legal_address" required><br><br>

        <label>Contact:</label>
        <input type="text" name="contact" required><br><br>

        <button type="submit">Отправить</button>
    </form>
</body>
</html>